/* * {
  box-sizing: border-box;
} */
body {
  width: 80%;
  margin: auto;
  align-content: center;
}

#container {
  height: 400px;
  width: 1000px;
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 5px 10px #888888;
}

#question {
  height: 400px;
  overflow-y: scroll;
}

#results {
  display: none;
  height: 400px;
  position: relative;
}

#queshun {
  font-size: 18px;
  height: 50px;
  width: 482px;
  border: 1px solid lightgrey;
  padding: 0 0 0 15px;
}

#queshun:hover {
  border: 2px solid lightgrey;
  box-shadow: 0 3px 4px #888888;
}

#canvas {
  width: 370px;
  height: 270px;
  background-color: #eeeeee;
  position: absolute;
  top: 45px;
  left: 65px;
  box-shadow: 0 5px 10px #888888;
}