<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/assets/css/style.css">
  <title>SpekUp!</title>
</head>

<body>
  <!-- trans parency header and logo container -->
  <div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
      <div class="row"></div>
      <div class="logo-container">
        <div class="col-md-4"></div>
        <div class="col-md-3">
          <a href="#home">
            <img class="logo" src="../public/assets/img/logo.png" alt="logo">
          </a>
        </div>
      </div>
      <!-- the buttons for log in and sign up -->
      <div class="buttoncontainer">
        <button id="login" type="button" onclick="location.href='/login'">Login!</button>
        <button id="signup" type="button" onclick="location.href='/signup'">Sign Up to Create new Event!</button>
      </div>
    </div>
  </div>
  <!-- Join and enter code section -->
  <div class="m-top-6 hidden-xs hidden-sm"></div>
  <div class="m-top-2 visible-xs visible-sm"></div>
  <div class="big-buttons">
    <div class="bigbuttonsjoinwrap display-flex flex-dir-column align-items-center">
      <form nsubmit="submit" id="joinFormMain">
        <div class="join-group">
          <div class="join-groupaddon"></div>
          <input autocorrect="off" autocapitalize="off" name="search" id="eventCode" type="text" class="eventcode" aria-label="Enter event code"
            placeholder="Enter event code" autocomplete="off">
          <div class="groupsubmit">
            <button id="submit" value="Submit" type="submit" class="joinbutton">
              <span class="jgroupjoinlabel">Join</span>
              <span class="spinner inverted spinner-md"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
    </a>
  </div>
  <script type="text/javascript" src="./assets/js/login.js"></script>
</body>

</html>