<!-- for log in information box -->
<div class="row">
</div>
<div class="row">
    <div class="row">
        <div class="row">
            <form id="loginform" action="/api/users/login" method="GET">
                <div class="logincontainer">
                    <label for="uname">
                        <b>Username</b>
                    </label>
                    <input id="inputlogin" type="text" placeholder="Enter Username" name="uname" required>

                    <label for="psw">
                        <b>Password</b>
                    </label>
                    <input id="inputpassword" type="password" placeholder="Enter Password" name="psw" required>
                    <button id="login" type="submit">Login</button>
                    <span>
                        <button id="forgotpwButton">Forgot Password?</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>