<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script src="./newevent.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <title>Document</title>
</head>

<body>
  <div id="container">
    <button id="create">Create Event</button>
    <div id="img-modal" class="modal modal-dialogue">
      <p id="modal-title">New Event</p>
      <p class="modal-body">Give event description and add questions</p>
      <form>
        <h4>Event Name</h4>
        <input id="name" type="text">
        <h4>Event Description</h4>
        <input id="description" type="text">
        <button id="cancel">Cancel</button>
        <button id="submit">Submit</button>
      </form>
    </div>
  </div>
</body>

</html>