<div id="join">
  <div class="m-top-6 hidden-xs hidden-sm"></div>
  <div class="m-top-2 visible-xs visible-sm"></div>
  <div class="big-buttons">
    <div class="bigbuttonsjoinwrap display-flex flex-dir-column align-items-center">
      <div id="myEvents">
        <button id="resultbutton">Click to View Results</button>
      </div>
      <form nsubmit="submit" id="joinFormMain">
        <div class="join-group">
          <div class="join-groupaddon"></div>
          <input autocorrect="off" autocapitalize="off" name="search" id="eventCode" type="text" class="eventcode" aria-label="Enter event code"
            placeholder="Enter event code" autocomplete="off">
          <div class="groupsubmit">
            <button id="submit" value="Submit" type="submit" class="joinbutton">
              <span class="jgroupjoinlabel">Join</span>
              <span class="spinner inverted spinner-md"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/assets/js/userhome.js"></script>